@charset "UTF-8";

ul{
	border: 1px solid blue;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

li > *{
	text-align: center;
	width: 100%;
}

li > button{
	background: orange;
	font-size: 20px;
}

body{
	margin:0px;
}